<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title> Fitness - Multipurpose Theme </title> 
	
	<meta name="description" content="">
	<meta name="author" content="">
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- **Favicon** -->
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <!-- **CSS - stylesheets** -->
    <link id="default-css" href="style.css" rel="stylesheet" media="all" />
    <link id="shortcodes-css" href="shortcodes.css" rel="stylesheet" media="all" />
        
    <link id="skin-css" href="skins/green/style.css" rel="stylesheet" media="all" />    
    
    <link id="fancy-box" href="css/jquery.fancybox.css" rel="stylesheet" media="all" />    
    
    <!-- **Additional - stylesheets** -->
    <link href="css/responsive.css" rel="stylesheet" media="all" />
    <link href="css/pace-theme-loading-bar.css" rel="stylesheet" media="all" />
        
    <link href="css/animations.css" rel="stylesheet" media="all" />
    
    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    
    <!-- **Google - Fonts** -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    
    <!-- **Modernizr** -->
	<script src="js/modernizr.custom.js"></script>
    <script type="text/javascript">
	var mytheme_urls = {
 		stickynav : 'enable'
	};
	</script>
    </head>
<body>
	<div id="loader-wrapper">
    	<div class="loader">
        	<span class="glyph-icon flaticon-man159"></span>
        </div>
    </div>
	<!-- **Wrapper** -->
	<div class="wrapper">
    	<div class="inner-wrapper">
        	<!-- header-wrapper starts here -->
        	<div id="header-wrapper">
                    <header id="header">
                            <!-- Top bar starts here -->
                            <div class="top-bar">
                                <div class="container">
                                    <div class="top-right">
                                        <ul>
                                            <li>
                                                {% if current_user.is_authenticated %}
                                                <a title="Logout" href="/logout"><span class="fa fa-sign-out"></span>Çıkış
                                                </a></li>
                                            <li><a title="Profil" href="/profile"><span class="fa fa-user"></span>
                                                    {{current_user.first_name + " " + current_user.last_name}} </a></li>
                                            {% else %}
                                            <a title="Login" href="/login"><span class="fa fa-sign-in"></span>Üye Girişi</a></li>
        
        
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Top bar ends here -->
                            <div class="main-menu-container">
                                <div class="main-menu">
                                    <div id="logo">
                                        <a title="Travel" href="/"><img title="Fitness" alt="Fitness"
                                                src="/images/logo.png"></a>
                                    </div>
                                    <div id="primary-menu">
                                        <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span
                                                class="dt-menu-toggle-icon"></span></div>
                                        <nav id="main-menu">
                                            <ul id="menu-main-menu" class="menu">
                                                <li class="menu-item-simple-parent menu-item-depth-0">
                                                    <a href="/">ANASAYFA</a>
                                                </li>
                                                <li class="menu-item-simple-parent menu-item-depth-0">
                                                    <a href="/exercises">HAREKETLER</a>
                                                </li>
                                                {% if current_user.is_authenticated %}
                                                {% if current_user.role == "user" %}
                                                <li class="menu-item-simple-parent menu-item-depth-0">
                                                    <a href="/profile">PROGRAMLAR</a>
                                                </li>
                                                {% else %}
                                                <li class="menu-item-simple-parent menu-item-depth-0">
                                                    {{current_user.role_id}}
                                                    <a href="/admin_panel">YÖNETİM</a>
                                                </li>
                                                {% endif %}
                                                {% endif %}
                                                <li
                                                    class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                                                    <a href="/about">HAKKIMIZDA</a>
                                                </li>
        
                                                <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                        href="/contact">İLETİŞİM</a>
                                                </li>
                                                <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                        href="/packages">PAKETLER</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </header>
        
			</div>
            <!-- header-wrapper ends here -->
            <!-- breadcrumb starts here -->
            <div class="breadcrumb-wrapper">
            	<div class="container">
                	<h1>About Us</h1>
                    <div class="breadcrumb">
                        <a href="index.html">Home</a>
                        <span class="default">  </span>
                        <h4>About</h4>
	                </div>
                </div>
            </div>
            <!-- breadcrumb ends here -->
            <div id="main">
                <!-- main-content starts here -->
                <div id="main-content">
                    <section id="primary" class="content-full-width">
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="fullwidth-section dt-sc-paralax">
                            <div class="container">
                                <div class="dt-sc-one-half column first animate" data-animation="fadeInUp" data-delay="100">
                                    <h4 class="section-title">About Members</h4>
                                    <p><i>Aenean leo</i> ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. <i>Phasellus viverra</i> nulla ut metus varius laoreet. Quisque rutrum. Sem quam semper libero, sit amet adipiscing sed ipsum. </p>
                                    <div class="dt-sc-hr-invisible-small"></div>
                                    <p><i>Excepteur</i> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i>Nemo enim ipsam</i> voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est sed quia consequuntur magni dolores eos. </p>
                                </div>
                                <div class="dt-sc-one-half column animate" data-animation="fadeInLeft" data-delay="100">
                                	<h4 class="section-title">Our Status</h4>
                                    <div class="dt-sc-hr-invisible-small"></div>
                                	<div class="dt-sc-progress dt-sc-progress dt-sc-violet">
                                        <div data-value="90" class="dt-sc-bar">
                                            <div class="dt-sc-bar-text"> HTML5 &amp; CSS3 <span> 90% </span> </div>
                                        </div>
                                    </div>
                                    <div class="dt-sc-progress dt-sc-progress dt-sc-pink">
                                        <div data-value="70" class="dt-sc-bar">
                                            <div class="dt-sc-bar-text"> Wordpress <span> 70% </span> </div>
                                        </div>
                                    </div>
                                    <div class="dt-sc-progress dt-sc-progress dt-sc-blue">
                                        <div data-value="80" class="dt-sc-bar">
                                            <div class="dt-sc-bar-text"> PHP <span> 80% </span> </div>
                                        </div>
                                    </div>
                                    <div class="dt-sc-progress dt-sc-progress dt-sc-green">
                                        <div data-value="60" class="dt-sc-bar">
                                            <div class="dt-sc-bar-text"> Photoshop <span> 60% </span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
                		<!-- Events starts here -->
                        
                        <div class="dt-sc-hr-invisible-medium"></div>
                        
                        <div class="fullwidth-section">
                            <div class="container animate" data-animation="fadeInUp" data-delay="100">
                                <div class="dt-sc-tabs-container">
                                    <ul class="dt-sc-tabs-frame">
                                        <li><a href="#" class="current"> Extreme Fitness </a></li>
                                        <li><a href="#"> Fitness for Women </a></li>
                                        <li><a href="#"> Aerobics </a></li>
                                    </ul>
                                    <div class="dt-sc-tabs-frame-content"> 
                                    	<div class="dt-sc-hr-invisible-small"></div>
                                        <div class="dt-sc-one-half column first">
                                        	<h2>Want to turn into a muscular person and impress everyone?</h2>
                                            <div class="dt-sc-hr-invisible-small"></div>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                            <p>Cras fringilla leo non quam placerat egestas. Nulla facilisi. Mauris magna enim, ullamcorper et leo a, commodo facilisis enim. Nulla non porta quam. </p>
                                        </div>
                                        <div class="dt-sc-one-half column">
                                        	<ul class="dt-sc-fancy-list circle-o custom-fancy-ico">
                                                <li>
                                                	<h5>Improve your Diet</h5>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. </p>
                                                </li>
                                                <li>
                                                	<h5>Stay Determined</h5>
                                                    <p>Corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                                </li>
                                                <li>
                                                	<h5>Push your Limits</h5>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dt-sc-tabs-frame-content"> 
                                    	<div class="dt-sc-hr-invisible-small"></div>
                                        <div class="dt-sc-one-half column first">
                                        	<h2>Maecenas id dui pretium, posuere metus elementum?</h2>
                                            <div class="dt-sc-hr-invisible-small"></div>
                                            <p>Cras fringilla leo non quam placerat egestas. Nulla facilisi. Mauris magna enim, ullamcorper et leo a, commodo facilisis enim. Nulla non porta quam. </p>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                        </div>
                                        <div class="dt-sc-one-half column">
                                        	<ul class="dt-sc-fancy-list circle-o custom-fancy-ico">
                                                <li>
                                                	<h5>Improve your Diet</h5>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. </p>
                                                </li>
                                                <li>
                                                	<h5>Stay Determined</h5>
                                                    <p>Corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                                </li>
                                                <li>
                                                	<h5>Push your Limits</h5>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dt-sc-tabs-frame-content"> 
                                    	<div class="dt-sc-hr-invisible-small"></div>
                                        <div class="dt-sc-one-half column first">
                                        	<h2>Cras fringilla leo non quam placerat egestas?</h2>
                                            <div class="dt-sc-hr-invisible-small"></div>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                            <p>Cras fringilla leo non quam placerat egestas. Nulla facilisi. Mauris magna enim, ullamcorper et leo a, commodo facilisis enim. Nulla non porta quam. </p>
                                        </div>
                                        <div class="dt-sc-one-half column">
                                        	<ul class="dt-sc-fancy-list circle-o custom-fancy-ico">
                                                <li>
                                                	<h5>Improve your Diet</h5>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. </p>
                                                </li>
                                                <li>
                                                	<h5>Stay Determined</h5>
                                                    <p>Corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                                </li>
                                                <li>
                                                	<h5>Push your Limits</h5>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabs ends here -->
                        
                        <div class="dt-sc-hr-invisible"></div>
                        
                        <!-- ico-content starts here -->
                        <div class="fullwidth-section">
                        	<div class="container">
                                <div class="dt-sc-two-third column first animate" data-animation="fadeInUp" data-delay="100">
                                	<h2 class="border-title"><span>Notification Boxes</span></h2>
                                	<div class="dt-sc-error-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                    <div class="dt-sc-warning-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                    <div class="dt-sc-success-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                </div>
                                <div class="dt-sc-one-one-third column animate" data-animation="fadeInUp" data-delay="100">
                                	<h2 class="border-title"><span>Pie Chart</span></h2>
                                    <div class="aligncenter">
                                        <div class="chart" data-line="2, 8, 6, 10" data-type="pie" data-offset="+90" data-slice-colors="#ff9c00, #3e8e00, #00c3ff, #ef005c">
                                            Loading...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-medium"></div>
                        <!-- Paralax starts here -->
                        <div class="fullwidth-section">
                            <div class="container">
                                <div class="dt-sc-one-half column first animate" data-animation="fadeInLeft" data-delay="100">
                                	<ul id="dt-custom-carousel-pager">
                                    	<li>
                                            <div class="dt-sc-ico-content type7">
                                                <div class="icon">
                                                    <span class="fa fa-key"> </span>
                                                </div>
                                                <h3>Membership Option Available</h3>
                                                <p>Make FitnessZone your website.</p>
                                            </div>
										</li>
                                        <li>                                            
                                            <div class="dt-sc-ico-content type7">
                                                <div class="icon">
                                                    <span class="fa fa-font"> </span>
                                                </div>
                                                <h3>All Google Fonts Applicable</h3>
                                                <p>Choose you favourite Google font.</p>
                                            </div>
										</li>
                                        <li>                                            
                                            <div class="dt-sc-ico-content type7">
                                                <div class="icon">
                                                    <span class="fa fa-tint"> </span>
                                                </div>
                                                <h3>Unlimited Colors Possible</h3>
                                                <p>Color your fitness theme anyway</p>
                                            </div>
										</li>
                                        <li>                                            
                                            <div class="dt-sc-ico-content type7">
                                                <div class="icon">
                                                    <span class="fa fa-gears"> </span>
                                                </div>
                                                <h3>Lots of Custom Settings Possible</h3>
                                                <p>Make your theme work this way!</p>
                                            </div>
										</li>
                                    </ul>                                                
                                </div>
                                <div class="dt-sc-one-half column animate" data-animation="fadeInRight" data-delay="100">
                                	<ul class="dt-custom-carousel-wrapper">
                                    	<li>
                                            <div class="dt-sc-hr-invisible-small"></div>
                                            <div class="aligncenter">
                                                <img title="" alt="" src="http://placehold.it/500x175" width="500" height="175">
                                                <div class="dt-sc-hr-invisible"></div>
                                                <p><i>Aenean leo</i> rutrum gravida vulputate. Mauris at magna eget est luctus blandit. Morbi quis nisi placerat, pharetra libero in, et elementum sagittis, magna lacus tristique dictum est. Donec eget mollis lorem. Aenean volutpat cursus id interdum.</p>
                                                <a href="#" class="dt-sc-button small" data-hover="View Plans &amp; Pricing">View Plans &amp; Pricing</a>
                                            </div>
										</li>
                                    	<li>
                                            <div class="dt-sc-hr-invisible-small"></div>
                                            <div class="aligncenter">
                                                <img width="420" height="385" title="" alt="" src="http://placehold.it/420x385">
                                            </div>
										</li>                                            
                                    	<li>
                                            <div class="dt-sc-hr-invisible-small"></div>
                                            <div class="aligncenter">
                                                <img width="420" height="385" title="" alt="" src="http://placehold.it/420x385">
                                            </div>
										</li> 
                                    	<li>
                                        	<div class="dt-sc-hr-invisible-small"></div>
                                            <div class="aligncenter">
                                                <img width="420" height="385" title="" alt="" src="http://placehold.it/420x385">
                                            </div>
										</li>
									</ul>                                        
                                </div>
                            </div>
						</div>
                        <!-- Paralax msg ends here -->
                        <div class="dt-sc-hr-invisible-large"></div>
                        <!-- Fulwidth starts here -->
                        <div class="fullwidth-section dt-sc-paralax full-pattern3">
                        	<div class="container">
                            	<div class="dt-sc-one-half column first animate" data-animation="fadeInUp" data-delay="100">
                                	<h2>Promo Ads that Enhances your Website to display in another level.</h2>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. </p>
                                    <div class="dt-sc-hr-invisible-small"></div>
                                    <div class="dt-sc-one-half column first">
                                        <div class="dt-sc-ico-content type4 black">
                                            <div class="icon">
                                                <span class="fa fa-music"> </span>
                                            </div>
                                            <h3>Audio File Support</h3>
                                        </div>
                                        <div class="dt-sc-ico-content type4 black">
                                            <div class="icon">
                                                <span class="fa fa-image"> </span>
                                            </div>
                                            <h3>Parallax Image Support</h3>
                                        </div>
                                    </div>
                                    <div class="dt-sc-one-half column animate" data-animation="fadeInUp" data-delay="100">
                                        <div class="dt-sc-ico-content type4 black">
                                            <div class="icon">
                                                <span class="fa fa-video-camera"> </span>
                                            </div>
                                            <h3>Video File Support</h3>
                                        </div>
                                        <div class="dt-sc-ico-content type4 black">
                                            <div class="icon">
                                                <span class="fa fa-book"> </span>
                                            </div>
                                            <h3>Exclusive Documentation</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-one-half column animate" data-animation="fadeInRight" data-delay="100">
                                	<img src="images/weightlifting.png" alt="" title="">
                                </div>
                            </div>
                        </div>
                        <!-- Fulwidth ends here -->
                        <div class="dt-sc-hr-invisible-large"></div>
                        <!-- Team starts here -->
                        <div class="fullwidth-section dt-sc-paralax">
                            <div class="container">
                            	<h2 class="border-title aligncenter"> <span> Our Team </span></h2>
                                <div class="dt-sc-one-fourth column first animate" data-animation="fadeInLeft" data-delay="100">
                                	<div class="dt-sc-team type2">
                                    	<div class="team-thumb">
                                        	<img src="http://www.placehold.it/270x400&text=Team" alt="" title="">
                                            <h3><span>Selena</span> <br><span>Kyle</span></h3>
                                            <div class="team-detail">
                                            	<h4>Fitness Instructor</h4>
                                                <ul>
                                                	<li><span class="fa fa-trophy"></span> <b>Awards:</b> 5 </li>
                                                    <li><span class="fa fa-mortar-board"></span> Mixed Martial Arts, Yoga </li>
                                                    <li><span class="fa fa-certificate"></span> <b>Experience:</b> 3+ years </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="dt-sc-social-icons">
                                        	<li class="facebook"><a class="fa fa-facebook" href="#"></a></li>
                                            <li class="google"><a class="fa fa-google-plus" href="#"></a></li>
                                            <li class="twitter"><a class="fa fa-twitter" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dt-sc-one-fourth column animate" data-animation="fadeInUp" data-delay="100">
                                	<div class="dt-sc-team type2">
                                    	<div class="team-thumb">
                                        	<h3><span>James</span> <br><span>Dunhall</span></h3>
                                        	<img src="http://www.placehold.it/270x400&text=Team" alt="" title="">
                                            <div class="team-detail">
                                            	<h4>Fitness Instructor</h4>
                                                <ul>
                                                	<li><span class="fa fa-trophy"></span> <b>Awards:</b> 5 </li>
                                                    <li><span class="fa fa-mortar-board"></span> Mixed Martial Arts, Yoga </li>
                                                    <li><span class="fa fa-certificate"></span> <b>Experience:</b> 3+ years </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="dt-sc-social-icons">
                                        	<li class="facebook"><a class="fa fa-facebook" href="#"></a></li>
                                            <li class="google"><a class="fa fa-google-plus" href="#"></a></li>
                                            <li class="twitter"><a class="fa fa-twitter" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dt-sc-one-fourth column animate" data-animation="fadeInDown" data-delay="100">
                                	<div class="dt-sc-team type2">
                                    	<div class="team-thumb">
                                        	<h3><span>Alica</span> <br><span>Meadow</span></h3>
                                        	<img src="http://www.placehold.it/270x400&text=Team" alt="" title="">
                                            <div class="team-detail">
                                            	<h4>Fitness Instructor</h4>
                                                <ul>
                                                	<li><span class="fa fa-trophy"></span> <b>Awards:</b> 5 </li>
                                                    <li><span class="fa fa-mortar-board"></span> Mixed Martial Arts, Yoga </li>
                                                    <li><span class="fa fa-certificate"></span> <b>Experience:</b> 3+ years </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="dt-sc-social-icons">
                                        	<li class="facebook"><a class="fa fa-facebook" href="#"></a></li>
                                            <li class="google"><a class="fa fa-google-plus" href="#"></a></li>
                                            <li class="twitter"><a class="fa fa-twitter" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dt-sc-one-fourth column animate" data-animation="fadeInRight" data-delay="100">
                                	<div class="dt-sc-team type2">
                                    	<div class="team-thumb">
                                        	<h3><span>Thomas</span> <br><span>Park</span></h3>
                                        	<img src="http://www.placehold.it/270x400&text=Team" alt="" title="">
                                            <div class="team-detail">
                                            	<h4>Fitness Instructor</h4>
                                                <ul>
                                                	<li><span class="fa fa-trophy"></span> <b>Awards:</b> 5 </li>
                                                    <li><span class="fa fa-mortar-board"></span> Mixed Martial Arts, Yoga </li>
                                                    <li><span class="fa fa-certificate"></span> <b>Experience:</b> 3+ years </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="dt-sc-social-icons">
                                        	<li class="facebook"><a class="fa fa-facebook" href="#"></a></li>
                                            <li class="google"><a class="fa fa-google-plus" href="#"></a></li>
                                            <li class="twitter"><a class="fa fa-twitter" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team ends here -->
                        <div class="dt-sc-hr-invisible-medium"></div>
                        
                        <!-- Testimonials starts here -->
                        <div class="fullwidth-section full-testimonial dt-sc-paralax">
                        	<div class="container">
                            	<div class="dt-sc-testimonial-carousel-wrapper animate" data-animation="zoomIn" data-delay="100">
                                    <ul class="dt-sc-testimonial-carousel">
                                    	<li class="dt-sc-testimonial">
                                        	<div class="author">
                                            	<img src="http://www.placehold.it/120&text=Author" alt="" title="">
                                            </div>
                                            <blockquote><q>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </q></blockquote>
                                            <h4>Jeniffer Aniston <span> Fitness Enthuisast, BELGRAM </span> </h4>
                                        </li>
                                        <li class="dt-sc-testimonial">
                                        	<div class="author">
                                            	<img src="http://www.placehold.it/120&text=Author" alt="" title="">
											</div>
                                            <blockquote><q>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </q></blockquote>
                                            <h4>Julie Amber<span>Actor</span></h4>
                                        </li>
                                        <li class="dt-sc-testimonial">
                                        	<div class="author">
                                            	<img src="http://www.placehold.it/120&text=Author" alt="" title="">
                                            </div>
                                            <blockquote><q>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </q></blockquote>
                                            <h4>Thoms Park<span>Actor</span></h4>
                                        </li>
                                    </ul>
                                    <div  id="pager" class="testimonial-pagination">
                                    	<a href="#">1</a>
                                        <a href="#" class="selected">2</a>
                                        <a href="#">3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials ends here -->
						<div class="dt-sc-hr-invisible-normal"></div>
                        <div class="dt-sc-hr-invisible"></div>
                        
                        <!-- welcome-txt starts here -->
                        <div class="fullwidth-section dt-sc-paralax">
                            <div class="container">
                            	<div class="welcome-txt animate" data-animation="zoomIn" data-delay="100">
                                	<h3>We have the best Equipments, Coachers and the Best Training Programs</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore <br>veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    <a href="#" class="dt-sc-button medium" data-hover="View Programs">View Programs</a>
                                    <a href="#" class="dt-sc-button medium" data-hover="Sign Up Now">Sign Up Now</a>
                                </div>
                            </div>
	                    </div>
                        <!-- welcome-txt ends here -->
                        <div class="dt-sc-hr-invisible-large"></div>
                    </section>
				</div>
                <!-- main-content ends here -->
            </div>
            <!-- footer starts here -->
            <footer id="footer">
                    <div class="copyright">
                        <div class="container">
                            <p>&copy; Copyright - 2019</p>
                        </div>
                    </div>
                </footer>
                <!-- footer ends here -->
            
	</div><!-- **Inner Wrapper - End** -->
</div><!-- **Wrapper - End** -->

<!-- **jQuery** -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="js/jquery.plugins.min.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

<script type="text/javascript" src="js/pace.min.js"></script>

<script src="js/morris.min.js"></script>
<script src="js/raphael.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="js/jquery.tabs.min.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>

<script type="text/javascript" src="js/jquery.ui.totop.min.js"></script>

<script type="text/javascript" src="js/retina.js"></script>
<script type="text/javascript" src="js/twitter/jquery.tweet.min.js"></script>

<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/contact.js"></script>

<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>