<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Fitness - Multipurpose Theme </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- **Favicon** -->
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- **CSS - stylesheets** -->
    <link id="default-css" href="style.css" rel="stylesheet" media="all" />
    <link id="shortcodes-css" href="shortcodes.css" rel="stylesheet" media="all" />

    <link id="skin-css" href="skins/green/style.css" rel="stylesheet" media="all" />

    <link id="fancy-box" href="css/jquery.fancybox.css" rel="stylesheet" media="all" />

    <!-- **Additional - stylesheets** -->
    <link href="css/responsive.css" rel="stylesheet" media="all" />
    <link href="css/pace-theme-loading-bar.css" rel="stylesheet" media="all" />

    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flaticon.css">

    <!-- **Google - Fonts** -->
    <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

    <!-- **Modernizr** -->
    <script src="js/modernizr.custom.js"></script>
    <script type="text/javascript">
        var mytheme_urls = {
            stickynav: 'enable'
        };
    </script>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader">
            <span class="glyph-icon flaticon-man159"></span>
        </div>
    </div>
    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">
            <!-- header-wrapper starts here -->
            <div id="header-wrapper">
                <header id="header" class="header1">
                    <!-- Top bar starts here -->
                    <!-- Top bar starts here -->
                    <div class="top-bar">
                        <div class="container">

                            <div class="top-right">
                                <ul>
                                    <li><a title="Login" href="login.html"><span class="fa fa-sign-in"></span>Name
                                            Surname
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top bar ends here -->
                    <div class="main-menu-container">
                        <div class="main-menu">
                            <div id="logo">
                                <a title="Travel" href="index.html"><img title="Fitness" alt="Fitness"
                                        src="images/logo.png"></a>
                            </div>
                            <div id="primary-menu">
                                <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span
                                        class="dt-menu-toggle-icon"></span></div>
                                <nav id="main-menu">
                                    <ul id="menu-main-menu" class="menu">
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="index.html">Home</a>
                                        </li>

                                        <li
                                            class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                                            <a href="about.html">About</a>
                                        </li>

                                        <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <!-- header-wrapper ends here -->
            <!-- breadcrumb starts here -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <h1>Profile</h1>
                    <div class="breadcrumb">
                        <a href="index.html">Home</a>
                        <span class="default"> </span>
                        <h4>Profile</h4>
                    </div>
                </div>
            </div>
            <!-- breadcrumb ends here -->
            <div id="main">
                <!-- main-content starts here -->
                <div id="main-content">
                    <section id="primary" class="content-full-width">
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="fullwidth-section">
                            <div class="container">
                                <h3 class="border-title aligncenter"> <span> <i class="fa fa-user"></i> Not registered?
                                        - Become user today! </span></h3>
                            </div>
                        </div>
                        <div class="fullwidth-section dt-sc-paralax full-pattern3">
                            <div class="container">
                                <div class="form-wrapper register">
                                    <form method="post" id="registerform" name="register_form">
                                            <p class="dt-sc-one-half column first">
                                            <input placeholder="Ad" id="first_name" name="first_name" type="text">
                                        </p>

                                        <p class="dt-sc-one-half column">
                                            <input placeholder="Soyad" id="last_name" name="last_name" type="text">
                                        </p>

                                        <p class="dt-sc-one-half column first">
                                            <input placeholder="Email" id="email" name="email" type="email">
                                        </p>
                                        <div class="dt-sc-one-half column">
                                            <div class="selection-box">
                                                <select name="cmbsubject">
                                                    <option value="Ask a Question?">Ask a Question?</option>
                                                    <option value="What are all benefits of Gym?">What are all benefits of Gym?</option>
                                                    <option value="What are the types of Gym?">What are the types of Gym?</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <input class="dt-sc-button small" value="Create an Account" type="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-medium"></div>
                        <div class="fullwidth-section">
                            <div class="container">
                                <div class="newsletter-container">
                                    <h2>Subscribe Newsletter for updates</h2>
                                    <div class="dt-sc-one-half column first">
                                        <p>Nam libero tempore, eu
                                            volutpat enim diam eget metus cum soluta nobis est eligendi optio cumque
                                            nihil impedit quo minus id quod maxime placeat facere.</p>
                                    </div>
                                    <div class="dt-sc-one-half column last">
                                        <form name="frmsubscribe" class="newsletter-form" action="php/subscribe.php"
                                            method="post">
                                            <input required="" placeholder="Enter Your Email ID" name="mc_email"
                                                type="email">
                                            <input value="Submit" class="dt-sc-button" name="btnsubscribe"
                                                type="submit">
                                        </form>
                                        <div class="ajax_subscribe_msg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-large"></div>
                    </section>
                </div>
                <!-- main-content ends here -->
            </div>
            <!-- footer starts here -->
            <footer id="footer">
                <div class="copyright">
                    <div class="container">
                        <p>&copy; Copyright - 2019</p>
                    </div>
                </div>
            </footer>
            <!-- footer ends here -->

        </div><!-- **Inner Wrapper - End** -->
    </div><!-- **Wrapper - End** -->

    <!-- **jQuery** -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

    <script type="text/javascript" src="js/pace.min.js"></script>

    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.min.js"></script>

    <script type="text/javascript" src="js/retina.js"></script>
    <script type="text/javascript" src="js/twitter/jquery.tweet.min.js"></script>

    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <script type="text/javascript" src="jquery.add.student.js"></script>


</body>

</html>