<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Fitness - Multipurpose Theme </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- **Favicon** -->
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- **CSS - stylesheets** -->
    <link id="default-css" href="style.css" rel="stylesheet" media="all" />
    <link id="shortcodes-css" href="shortcodes.css" rel="stylesheet" media="all" />

    <link id="skin-css" href="skins/green/style.css" rel="stylesheet" media="all" />

    <link id="fancy-box" href="css/jquery.fancybox.css" rel="stylesheet" media="all" />

    <!-- **Additional - stylesheets** -->
    <link href="css/responsive.css" rel="stylesheet" media="all" />
    <link href="css/pace-theme-loading-bar.css" rel="stylesheet" media="all" />

    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/flaticon.css">

    <!-- **Google - Fonts** -->
    <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

    <!-- **Modernizr** -->
    <script src="js/modernizr.custom.js"></script>
    <script type="text/javascript">
        var mytheme_urls = {
            stickynav: 'enable'
        };
    </script>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader">
            <span class="glyph-icon flaticon-man159"></span>
        </div>
    </div>
    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">
            <!-- header-wrapper starts here -->
            <div id="header-wrapper">
                <header id="header">
                    <!-- Top bar starts here -->
                    <div class="top-bar">
                        <div class="container">
                            <div class="top-right">
                                <ul>
                                    <li>
                                        {% if current_user.is_authenticated %}
                                        <a title="Logout" href="logout"><span class="fa fa-sign-out"></span>Çıkış
                                        </a></li>
                                    <li><a title="Profil" href="/profile"><span class="fa fa-user"></span>
                                            {{current_user.first_name + " " + current_user.last_name}} </a></li>
                                    {% else %}
                                    <a title="Login" href="/login"><span class="fa fa-sign-in"></span>Member
                                        Login</a></li>

                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top bar ends here -->
                    <div class="main-menu-container">
                        <div class="main-menu">
                            <div id="logo">
                                <a title="Travel" href="index.html"><img title="Fitness" alt="Fitness"
                                        src="/images/logo.png"></a>
                            </div>
                            <div id="primary-menu">
                                <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span
                                        class="dt-menu-toggle-icon"></span></div>
                                <nav id="main-menu">
                                    <ul id="menu-main-menu" class="menu">
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="index.html">ANASAYFA</a>
                                        </li>
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="/exercises">HAREKETLER</a>
                                        </li>
                                        {% if current_user.is_authenticated %}
                                        {% if current_user.role == "user" %}
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="/profile">PROGRAMLAR</a>
                                        </li>
                                        {% else %}
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            {{current_user.role_id}}
                                            <a href="/admin_panel">YÖNETİM</a>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        <li
                                            class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                                            <a href="/about">HAKKIMIZDA</a>
                                        </li>

                                        <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                href="/contact">İLETİŞİM</a>
                                        </li>
                                        <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                href="/packages">PAKETLER</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <!-- header-wrapper ends here -->
            <!-- breadcrumb starts here -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <h1>login</h1>
                    <div class="breadcrumb">
                        <a href="index.html">Home</a>
                        <span class="default"> </span>
                        <h4>Login</h4>
                    </div>
                </div>
            </div>
            <!-- breadcrumb ends here -->
            <div id="main">
                <!-- main-content starts here -->
                <div id="main-content">
                    <section id="primary" class="content-full-width">
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="fullwidth-section">
                            <div class="container">
                                <h3 class="border-title aligncenter"> <span> HAREKET OLUŞTUR
                                    </span></h3>
                            </div>xx
                        </div>
                        <div>

                            <div class="container">
                                <div class="dt-sc-clear"></div>
                                <div class="form-wrapper">
                                    <form method="post" id="exerciseform" name="exercise-form" enctype="multipart/form-data">
                                        <p>
                                            <input placeholder="Hareket Adı" id="name" name="name"
                                                autocomplete="off" type="text" required="true">
                                        </p>

                                        <p>
                                            <input placeholder="Video Linki" id="video_url" name="video_url"
                                                autocomplete="off" type="text" required="true">
                                        </p>

                                        <input type="file" aria-placeholder="hareket fotoğrafı" id="image" name="image">
                                        <div class="body-parts">

                                            <div class="column dt-sc-one-third">

                                                <label><input value="forever" id="chest" name="chest" type="checkbox">
                                                    GÖĞÜS</label>
                                            </div>

                                            <div class="column dt-sc-one-third">
                                                <label><input value="forever" id="shoulder" name="shoulder"
                                                        type="checkbox"> OMUZ
                                                </label>
                                            </div>
                                            <div class="column dt-sc-one-third">

                                                <label><input value="forever" id="back" name="back" type="checkbox">
                                                    SIRT</label>
                                            </div>
                                            <div class="column dt-sc-one-third">

                                                <label><input value="forever" id="biceps" name="biceps" type="checkbox">
                                                    BICEPS</label>
                                            </div>
                                            <div class="column dt-sc-one-third">

                                                <label><input value="forever" id="triceps" name="triceps"
                                                        type="checkbox"> TRICEPS</label>
                                            </div>
                                            <div class="column dt-sc-one-third">

                                                <label><input value="forever" id="leg" name="leg" type="checkbox">
                                                    BACAK</label>
                                            </div>
                                            <div class="column dt-sc-one-third">

                                                <label><input value="forever" id="abs" name="abs" type="checkbox">
                                                    KARIN</label>
                                            </div>

                                            </p>
                                            <div class="dt-sc-hr-invisible"></div>
                                        </div>

                                        <p>
                                            <textarea rows="5" cols="60" name="desc" id="desc"
                                                placeholder="Açıklama"></textarea>
                                        </p>

                                        <p>
                                            <textarea rows="5" cols="60" name="steps" id="steps"
                                                placeholder="Hareketin Yapılışı(Her adımı / ile ayırınız.)"></textarea>
                                        </p>


                                        <div class="column dt-sc-one-third first">

                                            <input class="dt-sc-button small" value="Log-In" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="dt-sc-hr-invisible-medium"></div>
                    </section>
                </div>
                <!-- main-content ends here -->
            </div>
            <!-- footer starts here -->
            <footer id="footer">
                <div class="copyright">
                    <div class="container">
                        <p>&copy; Copyright - 2019</p>
                    </div>
                </div>
            </footer>
            <!-- footer ends here -->

        </div><!-- **Inner Wrapper - End** -->
    </div><!-- **Wrapper - End** -->

    <!-- **jQuery** -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

    <script type="text/javascript" src="js/pace.min.js"></script>

    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.min.js"></script>

    <script type="text/javascript" src="js/retina.js"></script>
    <script type="text/javascript" src="js/twitter/jquery.tweet.min.js"></script>

    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>