<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Fitness - Multipurpose Theme </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- **Favicon** -->
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- **CSS - stylesheets** -->
    <link id="default-css" href="style.css" rel="stylesheet" media="all" />
    <link id="shortcodes-css" href="shortcodes.css" rel="stylesheet" media="all" />

    <link id="skin-css" href="skins/green/style.css" rel="stylesheet" media="all" />

    <link id="fancy-box" href="css/jquery.fancybox.css" rel="stylesheet" media="all" />

    <!-- **Additional - stylesheets** -->
    <link href="css/responsive.css" rel="stylesheet" media="all" />
    <link href="css/pace-theme-loading-bar.css" rel="stylesheet" media="all" />

    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/flaticon.css">

    <!-- **Google - Fonts** -->
    <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

    <!-- **Modernizr** -->
    <script src="js/modernizr.custom.js"></script>
    <script type="text/javascript">
        var mytheme_urls = {
            stickynav: 'enable'
        };
    </script>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader">
            <span class="glyph-icon flaticon-man159"></span>
        </div>
    </div>
    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">
            <!-- header-wrapper starts here -->
            <div id="header-wrapper">
                <header id="header">
                    <!-- Top bar starts here -->
                    <div class="top-bar">
                        <div class="container">
                            <div class="top-right">
                                <ul>
                                    <li>
                                        {% if current_user.is_authenticated %}
                                        <a title="Logout" href="/logout"><span class="fa fa-sign-out"></span>Çıkış
                                        </a></li>
                                    <li><a title="Profil" href="/profile"><span class="fa fa-user"></span>
                                            {{current_user.first_name + " " + current_user.last_name}} </a></li>
                                    {% else %}
                                    <a title="Login" href="/login"><span class="fa fa-sign-in"></span>Member
                                        Login</a></li>

                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top bar ends here -->
                    <div class="main-menu-container">
                        <div class="main-menu">
                            <div id="logo">
                                <a title="Travel" href="/"><img title="Fitness" alt="Fitness"
                                        src="/images/logo.png"></a>
                            </div>
                            <div id="primary-menu">
                                <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span
                                        class="dt-menu-toggle-icon"></span></div>
                                <nav id="main-menu">
                                    <ul id="menu-main-menu" class="menu">
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="/">ANASAYFA</a>
                                        </li>
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="/exercises">HAREKETLER</a>
                                        </li>
                                        {% if current_user.is_authenticated %}
                                        {% if current_user.role == "user" %}
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            <a href="/profile">PROGRAMLAR</a>
                                        </li>
                                        {% else %}
                                        <li class="menu-item-simple-parent menu-item-depth-0">
                                            {{current_user.role_id}}
                                            <a href="/admin_panel">YÖNETİM</a>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        <li
                                            class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                                            <a href="/about">HAKKIMIZDA</a>
                                        </li>

                                        <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                href="/contact">İLETİŞİM</a>
                                        </li>
                                        <li class="menu-item-simple-parent menu-item-depth-0"><a
                                                href="/packages">PAKETLER</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <!-- header-wrapper ends here -->
            <!-- breadcrumb starts here -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <h1>PAKETLER</h1>
                    <div class="breadcrumb">
                        <a href="/index">Anasayfa</a>
                        <span class="default"> </span>
                        <h4>Paketler</h4>
                    </div>
                </div>
            </div>
            <!-- breadcrumb ends here -->
            <div id="main">
                <!-- main-content starts here -->
                <div id="main-content">
                    <section id="primary" class="content-full-width">
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="dt-sc-hr-invisible"></div>

                        <!-- Packages starts here -->
                        <div class="fullwidth-section">
                            <div class="container">
                                <h2 class="border-title aligncenter"> <span> PAKETLER </span> </h2>
                                <div class="dt-sc-one-third column first animate" data-animation="fadeInLeft"
                                    data-delay="100">
                                    <div class="dt-sc-programs">
                                        <a href="/contact">
                                            <div class="dt-sc-pro-detail">
                                                <div class="dt-sc-pro-content">
                                                    <div class="dt-sc-pro-title">
                                                        <h3>Muscle Build Pro</h3>
                                                        <span>1 yr training program</span>
                                                    </div>
                                                    <ul class="dt-sc-fancy-list circle-o">
                                                        <li>3 days a week program</li>
                                                        <li>Diet program Included</li>
                                                        <li>Professional Trainers</li>
                                                    </ul>
                                                </div>
                                                <div class="dt-sc-pro-price">
                                                    <p class="pro-price-content">
                                                        <sup>$</sup> 89.99/<span>6 Months</span>
                                                    </p>
                                                    <a href="#" class="dt-sc-button small"
                                                        data-hover="Enroll Now">Enroll
                                                        Now</a>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dt-sc-one-third column animate" data-animation="fadeInUp" data-delay="100">
                                    <div class="dt-sc-programs">
                                        <div class="dt-sc-programs">
                                            <a href="/contact">
                                                <div class="dt-sc-pro-detail">
                                                    <div class="dt-sc-pro-content">
                                                        <div class="dt-sc-pro-title">
                                                            <h3>Muscle Build Pro</h3>
                                                            <span>1 yr training program</span>
                                                        </div>
                                                        <ul class="dt-sc-fancy-list circle-o">
                                                            <li>3 days a week program</li>
                                                            <li>Diet program Included</li>
                                                            <li>Professional Trainers</li>
                                                        </ul>
                                                    </div>
                                                    <div class="dt-sc-pro-price">
                                                        <p class="pro-price-content">
                                                            <sup>$</sup> 89.99/<span>6 Months</span>
                                                        </p>
                                                        <a href="#" class="dt-sc-button small"
                                                            data-hover="Enroll Now">Enroll
                                                            Now</a>
                                                    </div>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-one-third column animate" data-animation="fadeInRight"
                                    data-delay="100">
                                    <div class="dt-sc-programs">
                                        <a href="/contact">
                                            <div class="dt-sc-pro-detail">
                                                <div class="dt-sc-pro-content">
                                                    <div class="dt-sc-pro-title">
                                                        <h3>Muscle Build Pro</h3>
                                                        <span>1 yr training program</span>
                                                    </div>
                                                    <ul class="dt-sc-fancy-list circle-o">
                                                        <li>3 days a week program</li>
                                                        <li>Diet program Included</li>
                                                        <li>Professional Trainers</li>
                                                    </ul>
                                                </div>
                                                <div class="dt-sc-pro-price">
                                                    <p class="pro-price-content">
                                                        <sup>$</sup> 89.99/<span>6 Months</span>
                                                    </p>
                                                    <a href="#" class="dt-sc-button small"
                                                        data-hover="Enroll Now">Enroll
                                                        Now</a>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <!-- Packages ends here -->
                            <div class="dt-sc-hr-invisible-medium"></div>
                    </section>
                </div>
                <!-- main-content ends here -->
            </div>
            <!-- footer starts here -->
            <footer id="footer">
                <div class="copyright">
                    <div class="container">
                        <p>&copy; Copyright - 2019</p>
                    </div>
                </div>
            </footer>
            <!-- footer ends here -->

        </div><!-- **Inner Wrapper - End** -->
    </div><!-- **Wrapper - End** -->

    <!-- **jQuery** -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

    <script type="text/javascript" src="js/pace.min.js"></script>

    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.min.js"></script>

    <script type="text/javascript" src="js/retina.js"></script>
    <script type="text/javascript" src="js/twitter/jquery.tweet.min.js"></script>

    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>